.tds-header-problem .back-btn {
    position: absolute;
    left: 20px;
    top: 0px;
    width: 40px;
    background-image: url("./images/icon-back.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer; 
}

.tds-header-problem .close-btn{
 	position: absolute;
    left: 20px;
    top: 0px;
    width: 40px;
    background-image: url("./images/icon-close.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer; 
}

.tds-header-problem {
	position: relative;
	width: 100%; 
	height: 68px;
	/*line-height: 67px;*/
	text-align: right;
	background: #006a3c;
	vertical-align: text-bottom;
	color: #fff;
	letter-spacing: 1px;
	font-size: 21px;
}

.tds-header-problem .back-btn:hover{
	background-image: url("./images/icon-back-hover.png");
}

.tds-header-problem .back-btn:active{
	background-image: url("./images/icon-back-clicked.png");
}

.tds-header-problem .close-btn:hover{
	background-image: url("./images/icon-close-hover.png");
}

.tds-header-problem .close-btn:active{
	background-image: url("./images/icon-close-clicked.png");
}

.tds-header-problem .delete-btn:hover {
	background-image: url("./images/icon-delete-hover.png");
}

.tds-header-problem .delete-btn:active {
	background-image: url("./images/icon-delete-clicked.png");
}