.problem {
	height: 100%;
	display: flex;
	display:-webkit-flex;
	display: -ms-flexbox;  
    flex-direction: column;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
}
.problem .scrollable{
	overflow-y: scroll;
    overflow-x: hidden;
}
.problem .content-scrollable .content{
	overflow-y: visible;/*auto;*/
    overflow-x: visible;/*hidden;*/
    width: auto;
    padding: 0 20px;
}
.problem .flex-box{
	flex: 1;
	-webkit-flex: 1; 
	-moz-box-flex: 1;   
	-ms-flex: 1;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;  
    flex-direction: column;
    -webkit-flex-flow: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    max-height: 100%;
}

.problem .content-scrollable h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}