<div class='problem'>
	<tds-full-panel class="flex-box content-scrollable">
		<form name="newProblem"  ng-submit="vm.addNewProblem()" >
			<h2>Add new problem</h2>
			<label>
		       Question: <input type="text" name="problemQuestion" ng-model="vm.newProblem.question" required>
		    </label>
		    <input type="submit" id="submit" value="Add" />
		</form>
		
		<h2>Problems</h2>
 		<ul class="problems">
 			<li class="problem" ng-repeat="problem in vm.problems" ng-click="vm.onProblemClick(problem)">{{problem.question}}</li>
 		</ul>
	</tds-full-panel>
</div>
